/********** Fonts **********/
@font-face {
  font-family: "ClanWeb-Medium";
  src: url("https://www.blu-e.fr/assets/fonts/ClanWeb-Medium.woff") format("woff");
}


@font-face {
  font-family: "ClanWeb-Book";
  src: url("https://share.blu-e.fr/uploads/default/original/1X/a5663b9454789e7e483862f65f39245d93305879.woff") format("woff");
}


//use Roboto font
html {
    font-family: "ClanWeb-Book", sans-serif;
    font-weight: 400;
}
body input, body button, body select, body textarea {
    font-family: "ClanWeb-Book", sans-serif;
}


/********** Nav Header **********/
#top-navbar {
 height:44px;
 background-color:#005B97;
 width:100%;
 z-index: 1001;
}
div#top-navbar-links {
 width:99%;
 margin: 0 auto;
 padding-top:5px;
 max-width:1100px;
}
div#top-navbar-links a {
 color:#FFFFFF;
 font-size: 18px;
 font-weight: lighter;
}

#navbar-left {
 float: left;
 margin-left: -15px;
 padding-top: 8px;
}
#navbar-left a {
 font-size: 20px;
 padding-left: 20px;
}
#navbar-right {
 float:right;
 padding-top: 8px;
}
#navbar-right a {
 padding-left: 20px;
}


.d-header #site-logo {
    max-height: 50px;
}

/* =======================
   Banner
   ======================= */

#banner {
border-radius: 0;
box-shadow: none;
background: url("https://share.blu-e.fr/uploads/default/original/1X/31110f8c638b4ca3ddd8c17fee48b9cf15a07b91.png") no-repeat;
padding: 20px;
max-height: inherit;
background-size: cover;
background-color: rgba(255, 255, 255, .6);
background-blend-mode: color;
}
#banner .close {
 color: #00518C;
}
#banner #banner-content h2 {
 margin-bottom: 0.75em;
}

/* =======================
   JS Main Navbar (top menu)
   ======================= */


.nav-link-container {
  display: inline;
}
.nav-link-container  li {
  display: inline-block;
  float: right;
}
.nav-link-container  a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  min-width: 90px;
  font-size: 15px;
  padding: 0 1em;
}

.d-header.clearfix {
    background-color: #005B97;
}

.d-header .icons .icon {
    float: right;
    color: #fff;
}

.add-header-links {
    float: left;
    padding-left: 0;
}

.d-header .title a, .d-header .title a:visited{
    color: #fff;
}

/* =======================
   Footer
   ======================= */

.container-fluid-footer {
  margin: 0 0 0 0;
}

footer {
  padding-bottom: 25px;
  color: white;
  white-space: nowrap;
  background-color: #333;
  padding: 11px 32px 20px 32px;
  font-family: ClanWeb-Book;
}

footer.topic-list-bottom{
  background-color: #552382;
  border-radius: 3px;
}

footer .blu-e-sitemap {
  height: 160px;
}

footer a, footer a:hover, footer a:visited {
  cursor: pointer;
  text-decoration: none;
  color: rgb(210, 210, 210) !important;
}

footer .fa {
  color: white !important;
}
