//use Roboto font
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
body input, body button, body select, body textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/********** Nav Header **********/
#top-navbar {
 height:44px;
 background-color:#005B97;
 width:100%;
 z-index: 1001;
}
div#top-navbar-links {
 width:99%;
 margin: 0 auto;
 padding-top:5px;
 max-width:1100px;
}
div#top-navbar-links a {
 color:#FFFFFF;
 font-size: 18px;
 font-weight: lighter;
}

#navbar-left {
 float: left;
 margin-left: -15px;
 padding-top: 8px;
}
#navbar-left a {
 font-size: 20px;
 padding-left: 20px;
}
#navbar-right {
 float:right;
 padding-top: 8px;
}
#navbar-right a {
 padding-left: 20px;
}


/* =======================
   Footer
   ======================= */

.container-fluid-footer {
  margin: 0 0 0 0;
}

footer {
  padding-bottom: 25px;
  color: white;
  white-space: nowrap;
  background-color: #333;
  padding: 11px 32px 20px 32px;
  font-family: ClanWeb-Book;
}

footer .blu-e-sitemap {
  height: 160px;
}

footer a, footer a:hover, footer a:visited {
  cursor: pointer;
  text-decoration: none;
  color: rgb(210, 210, 210) !important;
}

footer .fa {
  color: white !important;
}
